

<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title >
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        sdasdadsad
        asdsads
    </ion-card-content>
  </ion-card>
</ion-content>
